.header img {
    width: 8vw;
    height: 10vh;
}

.header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EEEEEE;
}