* {
    margin: 0;
    padding: 0;
    font-family: 'Chelsea Market', cursive;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.spacer {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('../images/waves.svg');
}